In [4]:
import json
path ="D:\\Data Science\\MachineLearning\\Project\\UnderProcessProject\\Mlops_Project2_US_Visa_Approval_Prediction\\artifact\\2024-07-19-17-03-07\\data_validation\\report.json"
dict ={"Name": "pramod"}
with open (path ,'w') as abc:
    json.dump(dict ,abc)

PermissionError: [Errno 13] Permission denied: 'D:\\Data Science\\MachineLearning\\Project\\UnderProcessProject\\Mlops_Project2_US_Visa_Approval_Prediction\\artifact\\2024-07-19-17-03-07\\data_validation\\report.json'

In [6]:
import json

# Define the path where you want to save the JSON file
path = "D:\\Data Science\\MachineLearning\\Project\\UnderProcessProject\\Mlops_Project2_US_Visa_Approval_Prediction\\artifact\\2024-07-19-17-03-07\\data_validation\\report.json"

# Create a dictionary to write to the JSON file
data = {"Name": "pramod"}

# Use 'with' statement to open the file
with open(path, 'w') as f:
    json.dump(data, f)  # Pass the file object, not the path

In [3]:
dict1 =["A" , "B" ,"C"]
dict1.index('B')

1

In [1]:

from sklearn.base import BaseEstimator,TransformerMixin
from us_visa.exception import ClassificationException 
import pandas as pd
import os,sys
from datetime import date 
todays_date = date.today()
current_year = todays_date.year

In [ ]:
# df['company_age'] = current_year - df['yr_of_estab']

In [11]:
COMPANY_AGE = 'company_age'
YEAR_OF_ESTAB = 'yr_of_estab'
import numpy as np

In [4]:
class FeatureGenerator(BaseEstimator, TransformerMixin):
    """
    Feature Engineering Part will be taken care of by this class.
    """
    def __init__(self, add_company_age=True, yr_of_estab_ix=3, columns=None):
        try:
            self.columns = columns 
            if self.columns is not None and 'YEAR_OF_ESTAB' in self.columns:
                yr_of_estab_ix = self.columns.index('YEAR_OF_ESTAB')
                
            self.add_company_age = add_company_age 
            self.yr_of_estab_ix = yr_of_estab_ix
            todays_date = date.today()
            self.current_year = todays_date.year
        
        except Exception as e:
            raise ClassificationException(e, sys)
        
    def fit(self, X, y=None):
        return self  
    
    def transform(self, X, y=None):
        try:
            X_copy = X.copy()
            company_age = self.current_year - X_copy[:, self.yr_of_estab_ix]
            if self.add_company_age:
                X_copy['company_age'] = company_age
            
            return X_copy
        except Exception as e:
            raise ClassificationException(e, sys)
        
# Example usage
if __name__ == "__main__":
    data = {
        'YEAR_OF_ESTAB': [2000, 2010, 2015, 2020],
        'other_column': [1, 2, 3, 4]
    }
    df = pd.DataFrame(data)
    df= pd.read_csv(r'')
    columns = ['YEAR_OF_ESTAB']
    
    fg = FeatureGenerator(columns=columns)
    transformed_df = fg.fit_transform(df)
    print(transformed_df)

   YEAR_OF_ESTAB  other_column  company_age
0           2000             1           24
1           2010             2           14
2           2015             3            9
3           2020             4            4

In [20]:
import pandas as pd 
df = pd.read_csv(r"D:\Data Science\MachineLearning\Project\UnderProcessProject\Mlops_Project2_US_Visa_Approval_Prediction\notebook\Visadataset.csv")
X = df.drop(columns=['case_status'])
y =df[['case_status']]

In [21]:
X.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y

In [7]:
import numpy as np
import pandas as pd
from datetime import date
from sklearn.base import BaseEstimator, TransformerMixin
import sys
import logging

class ClassificationException(Exception):
    def __init__(self, message, sys):
        super().__init__(message)
        self.sys = sys

class FeatureGenerator(BaseEstimator, TransformerMixin):
    """
    Feature Engineering Part will be taken care of by this class.
    """
    def __init__(self, add_company_age=True, yr_of_estab_ix=3, columns=None):
        try:
            self.columns = columns 
            if self.columns is not None and 'YEAR_OF_ESTAB' in self.columns:
                yr_of_estab_ix = self.columns.index('YEAR_OF_ESTAB')
                
            self.add_company_age = add_company_age 
            self.yr_of_estab_ix = yr_of_estab_ix
            todays_date = date.today()
            self.current_year = todays_date.year
        
        except Exception as e:
            raise ClassificationException(e, sys)
        
    def fit(self, X, y=None):
        return self  
    
    def transform(self, X, y=None):
        try:
            X_copy = X.copy()
            company_age = self.current_year - X_copy[:, self.yr_of_estab_ix]
            if self.add_company_age:
                X_copy['company_age'] = company_age
            
            return X_copy
        except Exception as e:
            raise ClassificationException(e, sys)

# # Example usage
# if __name__ == "__main__":
#     data = {
#         'YEAR_OF_ESTAB': [2000, 2010, 2015, 2020],
#         'other_column': [1, 2, 3, 4]
#     }
#     df = pd.read_csv(r"D:\Data Science\MachineLearning\Project\UnderProcessProject\Mlops_Project2_US_Visa_Approval_Prediction\notebook\Visadataset.csv")

#     # df = pd.DataFrame(data)
#     columns = ['YEAR_OF_ESTAB']
    
#     fg = FeatureGenerator(columns=columns)
#     transformed_df = fg.fit_transform(df)
#     print(transformed_df)

In [15]:
df.columns.to_list().index('yr_of_estab')

6

In [18]:
fe =FeatureGenerator(
    add_company_age=True
 ,yr_of_estab_ix=6 ,
 columns=["VNVNVN" , ""])

In [19]:
fe.fit_transform(X=df)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,company_age
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,17
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,22
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,16
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,127
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,16
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,18
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,114
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,137
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,64

In [79]:
import pandas as pd
from us_visa.components.data_transformation import FeatureGenerator
df = pd.read_csv(r"D:\Data Science\MachineLearning\Project\UnderProcessProject\Mlops_Project2_US_Visa_Approval_Prediction\notebook\Visadataset.csv")

In [80]:
import os ,sys ,json 
import pandas as pd 

from pandas import DataFrame 
from sklearn.base import BaseEstimator,TransformerMixin


from us_visa.exception import ClassificationException 
from us_visa.logger import logging
from us_visa.utils.main_utils import read_yaml ,write_yaml_file ,check_lists_match ,read_yaml   ,save_object
from us_visa.entity.artifact_entity import DataIngestionArtifact ,DataValidationArtifacs ,DataTransformationArtifact
from us_visa.entity.config_entity import DataTransformationConfig 
from datetime import date 
import numpy as np
from sklearn.preprocessing import StandardScaler ,OneHotEncoder 
from sklearn.pipeline import Pipeline 
from sklearn.compose import ColumnTransformer
from us_visa.constants import *
from sklearn.preprocessing import OneHotEncoder, StandardScaler,OrdinalEncoder, PowerTransformer
from sklearn.compose import ColumnTransformer 
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
# from us_visa.components.data_transformation import FeatureGenerator
COMPANY_AGE = 'company_age'
YEAR_OF_ESTAB = 'yr_of_estab'

In [108]:
numerical_column = ['no_of_employees','yr_of_estab' ,'prevailing_wage']
categorical_column = ['case_id' ,'continent' ,'education_of_employee' ,'has_job_experience' ,'requires_job_training' ,'region_of_employment' ,'unit_of_wage' ,'full_time_position' ,'case_status']
ordinal_encoder_columns = ['has_job_experience' ,'requires_job_training' ,'full_time_position' ,'education_of_employee']
one_hot_encoder_columns = ['continent' ,'unit_of_wage' ,'region_of_employment']
transform_columns = ['no_of_employees' ]

In [82]:
class FeatureGenerator(BaseEstimator ,TransformerMixin):
    """
    Feature Engineering Part will taken care by this class.
    """
    def __init__(self ,
                 add_company_age =True ,
                 yr_of_estab_ix = 3 ,
                 columns=None):
        try:
            self.columns = columns
            if self.columns is not None:
                yr_of_estab_ix = self.columns.index(YEAR_OF_ESTAB)
                
            self.add_company_age = add_company_age 
            self.yr_of_estab_ix = yr_of_estab_ix
        
        except Exception as e:
            raise ClassificationException (e ,sys)
    def fit(self ,X,y=None):
        return self  
    
    def transform(self ,X ,y=None):
        try:
            todays_date = date.today()
            current_year = todays_date.year
        
            company_age = current_year - X[: ,self.yr_of_estab_ix]
            if self.add_company_age:
                generated_feature = np.c_[
                    X ,company_age 
                ]
            else:
                generated_feature = X
            return generated_feature
        except Exception as e:
            raise ClassificationException (e ,sys)

In [75]:
transform_columns

['no_of_employees', 'company_age']

In [115]:
def load_array(file_path: str) -> np.ndarray:
    """
    Load numpy array data from file.
    
    Parameters:
    file_path (str): Location of the file to load.
    
    Returns:
    np.ndarray: Data loaded from the file.
    """
    try:
        with open(file_path, 'rb') as file_obj:
            return np.load(file_obj)
    except Exception as e:
        raise ClassificationException("Error loading numpy array from file", e) from e

In [155]:
# from us_visa.utils.main_utils import load_array
file_path=r'D:\Data Science\MachineLearning\Project\UnderProcessProject\Mlops_Project2_US_Visa_Approval_Prediction\artifact\2024-07-21-13-09-48\data_transformation\transformed_train_dir\valid_train.npz'
# file_path =r'D:\Data Science\MachineLearning\Project\CompletedProject\MachineLearningProject1\artifact\transformed_data_dir\2024-04-11-16-00-18\train\train_data_housing.npz'
with open(file_path ,'rb') as file_obj:
    av = np.load(file_obj)
av.shape

(20384, 26)

In [157]:
d = pd.read_csv(r'D:\Data Science\MachineLearning\Project\UnderProcessProject\Mlops_Project2_US_Visa_Approval_Prediction\artifact\2024-07-21-13-09-48\data_validation\Valid_data_dir\train_data.csv')
d.shape

(20384, 12)